@charset "utf-8";
/* CSS Document */

*{
	text-align: center;
}
.op{
	
	padding: 10px;
	border: 5px dotted;
	margin-left: 200px;
	margin-right: 200px;
	border-radius: 50px;
	
}
#l{
	padding: 90px;
	
}
#desc{
	padding: 5px;
	border-right: 5px dotted;
}

#date{
	padding: 5px;
	border-right: 5px dotted;
}

#amt{
	padding: 5px;
	border-right: 5px dotted;
}
#td{
	opacity: 0;
}
table, td, th {
	
	border: 2px dotted;
	border-spacing: 10px;
	
}
.op2{
	opacity: 0;
}
h2{
	border: 5px dotted;
}