@charset "utf-8";
/* CSS Document */

*{
	text-align: center;
}
.op{
	
	padding: 10px;
	border: 5px dotted;
	
}
#desc{
	padding: 5px;
	border-right: 5px dotted;
}

#date{
	padding: 5px;
	border-right: 5px dotted;
}

#amt{
	padding: 5px;
	border-right: 5px dotted;
}
table, td, th {
	
	border: 2px dotted;
	border-spacing: 10px;
	
}